#
# Use name-based virtual hosting.
#
NameVirtualHost *:80
#
# NOTE: NameVirtualHost cannot be used without a port specifier
# (e.g. :80) if mod_ssl is being used, due to the nature of the
# SSL protocol.
#

#
# VirtualHost example:
# Almost any Apache directive may go into a VirtualHost container.
# The first VirtualHost section is used for requests without a known
# server name.
#

<VirtualHost *:80>
    ServerAdmin webmaster@dummy-host.example.com
    DocumentRoot /var/www/html/
    ServerName iamgreek.microbase.net.gr
    ErrorLog logs/localhost-error_log
    CustomLog logs/localhost-access_log common
</VirtualHost>
<VirtualHost *:80>
    ServerAdmin web@i-am-greek.gr
    DocumentRoot  /var/www/html/iamgreek
    ServerName i-am-greek.gr
    ServerAlias www.i-am-greek.gr
    ErrorLog logs/i-am-greek.gr-error_log
    CustomLog logs/i-am-greek.gr-access_log common
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin web@i-am-greek.gr
    DocumentRoot  /var/www/html/m
    ServerName m.i-am-greek.gr
    #ServerAlias www.i-am-greek.gr
    ErrorLog logs/m.i-am-greek.gr-error_log
    CustomLog logs/m.i-am-greek.gr-access_log common

#ProxyRequests On
#ProxyVia On

#<Proxy *>
#Order deny,allow
#Allow from all
#Allow from m.i-am-greek.gr
#</P#<Proxy *>
#Order deny,allow
#Allow from all
#Allow from m.i-am-greek.gr
#</Proxy>

#ProxyPreserveHost On
#ProxyPass /site http://i-am-greek.gr/
#ProxyPassReverse /site  http://i-am-greek.gr/

Redirect / http://i-am-greek.gr/mobile-web/
</VirtualHost>
